@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="guardar_datos" method="post" class="login2">

    <label for="erabiltzailea">Erabiltzailea:</label><br>
    <input type="erabiltzailea" id="erabiltzailea" name="erabiltzailea"><br><br>

    <label for="pasahitza">Pasahitza:</label><br>
    <input type="pasahitza" id="pasahitza" name="pasahitza"><br><br>

    <input type="submit" value="Sartu">

</form>